@keyframes roll {
  0%   {transform: rotate(0deg);}
  25%  {transform: rotate(30deg);}
  50%  {transform: rotate(-30deg);}
  100% {transform: rotate(0deg);}
}

.app {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
}

.logo {
  position: absolute;
  top: 10px;
  width: 365px;
  transition: 0.1s linear;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.pokemon {
  height: 35vmin;
  transition: 0.1s linear;
  transform-origin: bottom;
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.anim {
  animation-name: roll;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  pointer-events: none;
}

.pokemon:hover {
  height: 36.5vmin;
}

@media only screen and (max-width: 600px) {
  .logo {
    width: 265px;
  }
  
  .pokemon {
    height: 55vmin;
  }
}